html{
    font-family: 'Roboto', sans-serif;
    }
    /*aca comienza el body*/
body{
    margin: 0;
    background-color:gray;
    
}
.titu:hover{
    transform: translateX(30px);
    transition: all 3s;

}
/*Saco las media para entrega de bootstrap

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header header"
    "main2 main2 main2 main2"
    "main2 main2 main2 main2"
    "fo fo fo fo"
}

@media(min-width:300px){
    .contenedor{
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "header header "
        "main2 main2 "
        "main2 main2 "
        "fo fo";
    }
    body{ background-color: gray;
        font-family: 'Times New Roman', Times, serif;    
    }
    

}
@media(min-width:500px){
    .contenedor{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        "header header header"
        "main2  main2 main2"
        "main2  main2 main2"
        "fo fo fo fo";
    }
    body{ background-color:gray;
        font-family: 'Times New Roman', Times, serif;    
    }

}

@media(min-width:880px){
    .contenedor{
        grid-template-columns: 1fr 1fr 1fr 1f;
        grid-template-areas:
        "header header header header "
        "main2 main2 main2 main2"
        "main2 main2 main2 main2"
        "fo fo fo fo fo";
    }
    body{ background-color: gray;
    font-family: 'Times New Roman', Times, serif;    
    }
}
*/

header{
    grid-area: header;
    
    }

.titu{
    grid-area: titu;
    position:relative;
}
    

    

.nav{
    grid-area: nav;
   
}

.main2{
    grid-area: main2;
    background-color: gray;
}
.fo{
    grid-area: fo;
}

.redes1{
    position: absolute;
    left: 600px;
}



.logo{
    margin:0;
    position: relative;
    left: 10px;
    padding: 10px;
}
.titu{
    font-size: 20px;
    margin:20px;
    color: black;

}

ul.menu{
    list-style: none;
    padding:0%;
    margin: 0%;
}
.menu li{
    display:inline-block;
}
.menu li a{
    padding: 10px 20px;
    display: inline-block;
    color: black;
}
.menu li a:hover {
    background-color: gainsboro ;
}      
/*aca empieza el main*/
.foto1:hover{
    transform: scale(3);
    transition-property:all;
    transition-duration: 2s ;
}
.foto2:hover{
    transform: scale(3);
    transition-property:all;
    transition-duration: 2s ;
}
.foto3:hover{
    transform: scale(3);
    transition-property:all;
    transition-duration: 2s ;
}
.foto4:hover{
    transform: scale(3);
    transition-property:all;
    transition-duration: 2s ;
}

main.somos{
    background-color:gray;
}
.servicios{
    background-color: gray;
    }
.corte{
    width: 300px;
    height: 300px;
}    
.subtitulo{
    font-size: 20px;
}
main.produ{
    background-color: gray;
}
.productos{
    width: 150px;
    height: 150px;
    position: relative;
    left: 10px;
}

main{
    background-color: gray;
    margin: 6rem;
   }
main section :hover{ 
    box-shadow:0  0.1rem 0.1rem white;
}

main.contactos{
    background-image:url("imagen/peinado3.jpg");
    background-size: cover;
}
/*aca comienza el footer*/
footer{
    background-color: gray;
    padding: 1em;
    bottom: 0;
    margin-top: auto;

}
footer h3{background-image:url("imagen/corte.jpg") ;
    background-size:contain;
    height: 30px;
    width: 300px;
    background-repeat: repeat-x;
    color:white;
    position: static;
    left: 10px;
    border-style:solid;
    border-color: black;
    border-radius: 8px;
}

.mueve1{
    display: inline;
    transition: all 3s ease-in;
}

.mueve2{
    display:inline;
    transition: all 3s ease-in;
}
.mueve3{
    display: inline;
    transition: all 3s ease-in;
}
.se-mueve:hover .mueve1,
.se-mueve:hover .mueve2,
.se-mueve:hover .mueve3{
    transform:translateX(100px) ;

}


.listas li a{
    color: black;
}
/*saco animacion para entrega

.animacion:hover{
    animation:change-color 6s;

}
@keyframes change-color{
    0%{background-color: black;}
    15%{border-radius: 50%;}
    75%{width: 600px;}
}
*/

ul.listas{
    display: flex;
    flex-direction: row ;
    width: 350px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-around;
   
}
.listas li a:hover {
    background-color:ghostwhite;
}      


.redes{
    position:absolute;
    left: 500px;
}
.mapa{
    position: absolute;
    left: 400px; 
    

}
div.mapa:hover{
    box-shadow: 0  0.1rem 0.4rem rgb(0,0,0,0.8);
    

}


